* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li img {
  width: 20px;
  margin-right: 4px;
}

.main {
  flex-grow: 1;
  margin: 10px 40px;
  display: flex;
  flex-direction: column;
}

.body {
  background-color: #f8fae9;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  margin: 40px 0;
}

.photo-wrapper {
  display: flex;
  width: 20vw;
}

.contacts-skills-wrapper,
.education-language-wrapper {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.header,
footer {
  background-color: #d4d6c5;
  padding: 10px 40px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.name-position {
  display: flex;
}

.photo-name-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.photo {
  width: 200px;
}

.logo {
  width: 100px;
}

pre code {
  background-color: #d4d6c5;
  border: 1px solid #999999;
  display: block;
  padding: 10px;
}

.summary-wrapper {
  margin-bottom: 40px;
}

.link-item {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
